BasedOnStyle: LLVM
BreakBeforeBraces: Allman
SortIncludes: false
IncludeBlocks: Preserve
ColumnLimit: 0
ReflowComments: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
SpaceBeforeParens: Never
IndentCaseLabels: true
AlignAfterOpenBracket: Align
SpaceAroundPointerQualifiers: Before
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
